{% extends 'chatapp/base.html' %}


{% block body %}


<div class="flex items-center justify-center">
    <h1 class="text-4xl font-bold text-center animate-pulse text-blue-500">Create Your New Room</h1>
  </div>
  
<div class="max-w-md mx-auto">
    <form class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4" method="POST">
      {% csrf_token %}
      <div class="mb-4">
        <label class="block text-gray-700 text-sm font-bold mb-2" for="id_name">
          Name
        </label>
        <input
          class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
          id="id_name"
          name="name"
          type="text"
          placeholder="Enter chatroom name"
          required
        />
      </div>
      <div class="mb-4">
        <label class="block text-gray-700 text-sm font-bold mb-2" for="id_slug">
          Short-Name
        </label>
        <input
          class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
          id="id_slug"
          name="slug"
          type="text"
          placeholder="Enter chatroom slug"
          required
        />
      </div>
      <div class="flex items-center justify-center">
        <button
          class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
          type="submit"
        >
          Create Chatroom
        </button>
      </div>
    </form>
  </div>
  
  {% if messages %}
  <ul class="messages">
    {% for message in messages %}
      <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>
        <div class="flex justify-center   text-red font-bold ">
          {{ message }}
        </div>
      </li>
    {% endfor %}
  </ul>
{% endif %}

{% endblock %}